body{
    background-color: white;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
}
main{
    background-color: gray;
}
#title{
    background-color: gray;
    color:black;
    text-align: center;

}
.main-section{
    border: black;
    color: red;
}
p{
    color:black;
}