body{
    background-color: white;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
}
main{
    background-color: white;
}
title{
    background-color: gray;
    text-align: center;

}
#main-section{
    border: black;
    color: white;
}
p{
    color:black;
}